<h2>Stations</h2>
</br>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>District</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>


  <% @stations.each do |station| %>

      <tr>
        <td><%= station.name %></td>
        <td><%= station.district_id %></td>
        <td><%= link_to 'Show', station %></td>
        <td><%= link_to 'Edit', edit_station_path(station) %></td>
        <td><%= link_to 'Delete', station, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Station', new_station_path %>
