<p id="notice" xmlns="http://www.w3.org/1999/html"><%= notice %></p>
  <div class="alert">
  <h2>
  <b>Name:</b>
  <%= @station.name %>
</h2>

<h4>
  <b>District:</b>
  <%= @station.district_id %>
</h4>

</div>
<!-----------list of device---------->


</br>


<% if @modems.any? %>

    <div class="alert alert-success">
      <strong>MODEMS</strong>
    </div>

    <table class="table">
      <thead>
      <tr class="success">
        <th>Model</th>
        <th>Type</th>
        <th>Station_id</th>
      </tr>
      </thead>
      <tbody>

      <% @modems.each do |modem| %>
          <tr>
            <td><%= modem.model %></td>
            <td> <%= modem.modem_type %> </td>
            <td> <%= modem.station_id %> </td>
            <td> <%= link_to "show", station_modem_path(@station, modem) %></td>
            <td><%= link_to "edit", edit_station_modem_path(@station, modem) %></td>
            <td><%= link_to "delete", "#"%></td>
          </tr>
          </tbody>
      <% end %>
      </table>
<% end %>

<% if @printers.any? %>
    <div class="alert alert-success">
      <strong>PRINTERS</strong>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th>Device</th>
        <th>Model</th>
        <th>Station_id</th>
      </tr>
      </thead>
      <tbody>

      <% @printers.each do |pr| %>
          <tr>
            <td><%= pr.device %></td>
            <td> <%= pr.printer_model %> </td>
            <td> <%= pr.station_id %> </td>
            <td> <%= link_to "show", station_printer_path(@station, pr) %></td>
            <td><%= link_to "edit", edit_station_printer_path(@station, pr) %></td>
            <td><%= link_to "delete", '#' %></td>
          </tr>
          </tbody>
      <% end %>
      </table>
<% end %>

<% if @computers.any? %>
    <div class="alert alert-success">
      <strong>COMPUTERS</strong>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th>Model</th>
        <th>Type</th>
        <th>Station_id</th>
      </tr>
      </thead>
      <tbody>

      <% @computers.each do |c| %>
          <tr>
            <td><%= c.computer_model %></td>
            <td> <%= c.comp_type %> </td>
            <td> <%= c.station_id %> </td>
            <td> <%= link_to "show", station_computer_path(@station, c) %></td>
            <td><%= link_to "edit", edit_station_computer_path(@station, c) %></td>
            <td><%= link_to "delete", '#' %></td>
          </tr>
          </tbody>
      <% end %>
      </table>
<% end %>

<% if @devices.any? %>
    <div class="alert alert-success">
      <strong>DEVICES</strong>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th>Type</th>
        <th>Model</th>
        <th>Station_id</th>
      </tr>
      </thead>
      <tbody>

      <% @devices.each do |d| %>
          <tr>
            <td><%= d.device_type %></td>
            <td> <%= d.device_model %> </td>
            <td> <%= d.station_id %> </td>
            <td> <%= link_to "show", station_device_path(@station, d) %></td>
            <td><%= link_to "edit", edit_station_device_path(@station, d) %></td>
            <td><%= link_to "delete", '#' %></td>
          </tr>
          </tbody>
      <% end %>
      </table>
<% end %>

<!----------------------->
<%= link_to 'Add Computer', new_station_computer_path(@station) %> |
<%= link_to 'Add Device', new_station_device_path(@station) %> |
<%= link_to 'Add Printer', new_station_printer_path(@station) %> |
<%= link_to 'Add Modem', new_station_modem_path(@station) %> </br>
<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>
