<p id="notice" xmlns="http://www.w3.org/1999/html"><%= notice %></p>
  <div class="alert">
  <h2>
  <b>Название:</b>
  <%= @station.name %>
</h2>

<h4>
  <b>Район:</b>
  <%= @station.district_id %>
</h4>

</div>
<!-----------list of device---------->


</br>


<% if @modems.any? %>

    <div class="alert alert-success">
      <strong>МОДЕМЫ</strong>
    </div>

    <table class="table">
      <thead>
      <tr class="success">
        <th>Модель</th>
        <th>Тип</th>

      </tr>
      </thead>
      <tbody>

      <% @modems.each do |modem| %>
          <tr>
            <td><%= modem.model %></td>
            <td> <%= modem.modem_type %> </td>

            <td class="ctrl"> <%= link_to "просмотр", station_modem_path(@station, modem) %></td>
            <td class="ctrl"><%= link_to "редактировать", edit_station_modem_path(@station, modem) %></td>
            <td class="ctrl"><%= link_to "удалить", "#"%></td>
          </tr>
          </tbody>
      <% end %>
      </table>
<% end %>

<% if @printers.any? %>
    <div class="alert alert-success">
      <strong>ПЕЧАТНЫЕ УСТРОЙСТВА</strong>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th>Устройство</th>
        <th>Модель</th>

      </tr>
      </thead>
      <tbody>

      <% @printers.each do |pr| %>
          <tr>
            <td><%= pr.device %></td>
            <td> <%= pr.printer_model %> </td>

            <td class="ctrl"> <%= link_to "просмотр", station_printer_path(@station, pr) %></td>
            <td class="ctrl"><%= link_to "редактировать", edit_station_printer_path(@station, pr) %></td>
            <td class="ctrl"><%= link_to "удалить", '#' %></td>
          </tr>
          </tbody>
      <% end %>
      </table>
<% end %>

<% if @computers.any? %>
    <div class="alert alert-success">
      <strong>СВТ</strong>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th>Компьютер</th>
        <th>Тип ЭВМ</th>

      </tr>
      </thead>
      <tbody>

      <% @computers.each do |c| %>
          <tr>
            <td><%= c.computer_model %></td>
            <td> <%= c.comp_type %> </td>

            <td class="ctrl"> <%= link_to "просмотр", station_computer_path(@station, c) %></td>
            <td class="ctrl"><%= link_to "редактировать", edit_station_computer_path(@station, c) %></td>
            <td class="ctrl"><%= link_to "удалить", '#' %></td>
          </tr>
          </tbody>
      <% end %>
      </table>
<% end %>

<% if @devices.any? %>
    <div class="alert alert-success">
      <strong>ДРУГОЕ ОБОРУДОВАНИЕ</strong>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th>Тип</th>
        <th>Модель</th>

      </tr>
      </thead>
      <tbody>

      <% @devices.each do |d| %>
          <tr>
            <td><%= d.device_type %></td>
            <td> <%= d.device_model %> </td>

            <td class="ctrl"> <%= link_to "просмотр", station_device_path(@station, d) %></td>
            <td class="ctrl"><%= link_to "редактировать", edit_station_device_path(@station, d) %></td>
            <td class="ctrl"><%= link_to "удалить", '#' %></td>
          </tr>
          </tbody>
      <% end %>
      </table>
<% end %>

<!----------------------->
<%= link_to 'Добавить СВТ', new_station_computer_path(@station) %> |
<%= link_to 'Добавить другое оборудование', new_station_device_path(@station) %> |
<%= link_to 'Добавить ПУ', new_station_printer_path(@station) %> |
<%= link_to 'Добавить Модем', new_station_modem_path(@station) %> </br>
<%= link_to 'Редактировать', edit_station_path(@station) %> |
<%= link_to 'Назад', stations_path %>
