<%= form_for([:station, @device]) do |f| %>
    <% if @device.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@device.errors.count, "error") %> prohibited this device from being saved:</h2>

          <ul>
            <% @device.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :device_type %>
      <%= f.select :device_type, [['Стример'],
            ['Проектор'],
            ['Плазменная панель'],
            ['Кодоскоп'],
            ['ИБП до 1000 Вт'],
            ['ИБП свыше 1000 Вт']]%>
    </div>
    <div class="field">
      <%= f.label :device_model %>
      <%= f.text_field :device_model %>
    </div>
    <div class="field">
      <%= f.label :source %>
      <%= f.select :source, [['Республиканский бюджет'],
            ['Местный бюджет'],
            ['На балансе сторонней организации'],
            ['Передано безвозмездно'],
            ['Получено из других подразделений'],
            ['Спонсорские средства '],
            ['Платные услуги']]%>
      
    </div>
    <div class="field">
      <%= f.label :commissioning %>
      <%= f.date_select :commissioning %>
    </div>
    <div class="field">
      <%= f.label :task %>
      <%= f.text_field :task %>
    </div>
    <div class="field">
      <%= f.label :decommissioning %>
      <%= f.date_select :decommissioning %>
    </div>
    <div class="field">
      <%= f.label :comment %>
      <%= f.text_field :comment %>
    </div>
    <div class="field">

      <%= f.hidden_field :station_id, :value => @station_id %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
