<h3>Inventory</h3>    <br/>

<table class="table" >
  <tr>
    <th>Title</th>
    <th>Serial</th>
    <th>Status</th>

  </tr>

<% @computers.each do |computer| %>
  <tr>
    <td><%= computer.title %></td>
    <td><%= computer.serial %></td>
    <td><%= computer.status %></td>
    <td><%= link_to 'Show', computer %></td>
    <td><%= link_to 'Edit', edit_computer_path(computer) %></td>
    <td><%= link_to 'Destroy', computer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Computer', new_computer_path %>
