<%= form_for([:station, @printer]) do |f| %>
    <% if @printer.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@printer.errors.count, "error") %> prohibited this printer from being saved:</h2>

          <ul>
            <% @printer.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :device %>

      <%= f.text_field :device %>
    </div>
    <div class="field">
      <%= f.label :printer_model %>

      <%= f.text_field :printer_model %>
    </div>
    <div class="field">
      <%= f.label :printer_type %>

      <%= f.text_field :printer_type %>
    </div>
    <div class="field">
      <%= f.label :page_format %>

      <%= f.text_field :page_format %>
    </div>
    <div class="field">
      <%= f.label :chroma %>

      <%= f.text_field :chroma %>
    </div>
    <div class="field">
      <%= f.label :source %>

      <%= f.text_field :source %>
    </div>
    <div class="field">
      <%= f.label :commissioning %>

      <%= f.date_select  :commissioning %>
    </div>
    <div class="field">
      <%= f.label :task %>

      <%= f.text_field :task %>
    </div>
    <div class="field">
      <%= f.label :decommissioning %>

      <%= f.date_select :decommissioning %>
    </div>
    <div class="field">
      <%= f.label :comment %>

      <%= f.text_field :comment %>
    </div>
    <div class="field">
      <%= f.label :station_id %>
      <%= f.text_field :station_id, :value => @station_id %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
